/*
 * Variables...
 */
$body-bg: #fff;
$brand-primary: #4f86b5;
$btn-font-weight: 300;
$font-family-sans-serif: "Lato", Helvetica, Arial, sans-serif !default;
$font-size-base: 14px;
$navbar-height: 65px;

/*
 * Bootstrap CSS...
 */
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/*
 * Spark Styling...
 */
@import "vendor/laravel/spark/resources/assets/sass/spark";
